@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* Ensure smooth scrolling */
    html {
        scroll-behavior: smooth;
    }

    /* Custom scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #2F5C48;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #1e3a2d;
    }

    details summary::-webkit-details-marker {
        display: none;
    }
}